body {
    padding-top: 4rem;
    background-color: #fff;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

// table style
.section__table {
    margin: 0 auto;
    table {
        width: 100%;
        border-collapse: collapse;
        background: #ffe27f
    }
}

.section__table table thead th {
    background: #2a2a2a;
    color: #fff
}

.section__table table tbody tr:nth-child(odd) td {
    background: #ffc500
}

.section__table table td,
.section__table table th {
    text-align: left;
    padding: 12px 30px;
    border: 1px solid rgba(255, 255, 255, .6)
}

.section__table+p {
    padding: 1rem 0 0;
    opacity: .5;
    font-size: 1rem;
}

.section__bg {
    margin: 80px -30px -80px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%
}

.section__bg--320 {
    height: 327px
}

.section--table .section__bottom div.centralize {
    max-width: 940px
}

.section--table h3 {
    font-family: "GrotesqueBold";
    font-size: 1.6em;
    line-height: 1.3em;
    text-transform: uppercase;
    padding: 0 0 30px
}

@media all and (max-width: 700px) {
    .section__table {
        width: 100%;
        overflow: auto
    }
    .section__table table {
        width: 700px
    }
}