<!-- layout-home-page.njk -->
{% extends "layout-burger-page.njk" %}

<!-- Setup page -->
{% set page = {
            'title' : 'Burger 3 page',
            'description' : 'Burger 3 lorem ipsum Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.',
            'burger3' : 'active',
            'image' : 'img/burger-3.png'
} %}

<!-- Table content -->
{% set table = { 
            'tableHeader' : 'wie viele kalorien hat eine pizza diavolo?',
            'Calories100' : '234',
            'CaloriesPortion' : '2856',
            'Protein100' : '219',
            'ProteinPortion' : '916',
            'Carbohydrates100' : '12',
            'CarbohydratesPortion' : '26',
            'Sugar100' : '24',
            'SugarPortion' : '96',
            'Fat100' : '11',
            'FatPortion' : '40',
            'SaturatedFat100' : '10',
            'SaturatedFatPortion' : '20',
            'TransFat100' : '5',
            'TransFatPortion' : '4',
            'Cholesterol100' : '40',
            'CholesterolPortion' : '220',
            'Sodium100' : '402',
            'SodiumPortion' : '2210',
            'Allergens' : 'Sesame Seeds, Wheat'
} %}