<!-- app/templates/partials/content.njk -->
<div class="starter-template">
    <h1 class="my-2 font-weight-bold">Nunjucks starter kit</h1>
    <p class="lead">Easily modify multiple HTML files from one place 🔥🔥🔥 <br> <a style="font-size: 14px;" class="text-secondary" href="https://github.com/milanmilosev/nunjucks-starter-pack/archive/master.zip">https://github.com/milanmilosev/nunjucks-starter-pack/archive/master.zip</a></p>
    <img class="img-fluid" src="img/nunjucks.jpg">
</div>
<div class="container">
    <h3 class="my-4 text-center text-lg-left">Our menu:</h3>
    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="burger-1.html" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/burger-1.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="burger-2.html" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/burger-2.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="burger-3.html" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/burger-3.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="burger-4.html" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/burger-4.png" alt="">
            </a>
        </div>
    </div>

</div>