<!-- app/templates/partials/footer.njk -->
<footer class="py-4 bg-dark">
  <div class="container">
    <p class="m-0 text-white"><span class="text-warning">{{ page.title }}</span></p>
  </div>
</footer>