<!-- app/templates/partials/nav.njk -->   
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ page.homePage }}">
            <a class="nav-link " href="index.html">Home</a>
          </li>
          <li class="nav-item {{ page.burger1 }}">
            <a class="nav-link" href="burger-1.html">Burger 1</a>
          </li>
          <li class="nav-item {{ page.burger2 }}">
            <a class="nav-link" href="burger-2.html">Burger 2</a>
          </li>
          <li class="nav-item {{ page.burger3 }}">
            <a class="nav-link" href="burger-3.html">Burger 3</a>
          </li>
          <li class="nav-item {{ page.burger4 }}">
            <a class="nav-link" href="burger-4.html">Burger 4</a>
          </li>
        </ul>
      </div>
    </nav>