<!--app/templates/layout-home-page.njk -->
<!doctype html>
<html lang="en">
<head>
{% include "partials/head.njk" %}
</head>
<body>
{# {% include "home-page/nav.njk" %} #}
{% include "partials/nav.njk" %}
<main>
{% include "partials/content.njk" %}
</main>
{% include "partials/footer.njk" %}
</body>
</html>