<!--app/templates/layout-home-page.njk -->
<!doctype html>
<html lang="en">
<head>
{% include "partials/head.njk" %}
</head>
<body>
{# {% include "home-page/header.njk" %} #}
{% include "partials/header.njk" %}
<main>
{% include "partials/content-for-burger.njk" %}
</main>
{% include "partials/footer.njk" %}
</body>
</html>